<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front View</title>
</head>
<body>
    <a href="/Sc-log">School-Login</a><br>
    <a href="/S-Login">Staff-Login</a><br>
    <a href="/St-Login">Student-Login</a>
</body>
</html>