<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
</head>
<body>
    <h2>Staff Dashboard</h2>
    <a href="/S-View" style="padding-right: 20px;">View Student</a>
    <a href="/S-ViewResult" style="padding-right: 20px;">View Result</a>
    <a href="/S-AddResult" style="padding-right: 20px;">Add Result</a>
    <a href="/S-ViewResultStu" style="padding-right: 20px;">View Result Student Wise</a>
    <a href="/S-ManageResult" style="padding-right: 20px;">Manage Result</a>
</body>
</html>