<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-login</title>
</head>
<body>
    <form method="post">
        <tabel>
            <tr>
                <td>Enter Email</td>
                <td><input type="email" name="email"></td>
            </tr>
            <br>
            <tr>
                <td>Enter Password</td>
                <td><input type="password" name="pass"></td>
            </tr>
            <br>
            <tr>
                <td></td>
                <td><input type="submit" value="Login"></td>
            </tr>
        </tabel>
    </form>
</body>
</html>