<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>Select Standard</td>
                <td>
                    <select name="std">
                        <% result.forEach(function(data){ %>
                            <option value="<%= data.stnd %>"><%= data.stnd %></option>
                            <% }); %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enter Division</td>
                <td><input type="text" name="div"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>