<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Home-Page</title>
</head>

<body>
    <h2>School Home-Page</h2>
    <form method="post">
        <table>
            <tr>
                <td><a href="/Sc-Ad-Staff" style="padding-right: 8px;">Add Staff</a></td>
                <td><a href="/Sc-Student" style="padding-right: 8px;">Add Student</a></td>
                <td><a href="/Sc-Std" style="padding-right: 8px;" >Add Standard</a></td>
                <td><a href="/Sc-Div" style="padding-right: 8px;">Add Division</a></td>
                <td><a href="/Sc-View" style="padding-right: 8px;" >View Student</a></td>
                <td><a href="/Sc-Sview"  style="padding-right: 8px;">View Staff</a></td>
                <td><a href="/Sc-Manage"  style="padding-right: 8px;">Staff Manage</a></td>
                <td><a href="/Sc-Std-Div" style="padding-right: 8px;">View Stadard and Division Wise</a></td>
                <td><a href="/Sc-ViewResult"  style="padding-right: 8px;">View Result</a></td>
                <td><a href="/Sc-ViewStd" style="padding-right: 8px;" >View Result Std And Div Wise</a></td>
                <td><a href="/Sc-ViewTop" style="padding-right: 8px;">View Top 3</a></td>
            </tr>
        </table>
    </form>
</body>

</html>