<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sc-ViewTop</title>
</head>
<body>
    <h2>Sc-ViewTop</h2>
    <form method="post">
        <table>
           <tr>
                <td>Enter Standard</td>
                <td>
                    <input type="text" name="std">
                </td>
           </tr>
           <tr>
                <td>Enter Division</td>
                <td>
                    <input type="text" name="div">
                </td>
           </tr>
            <tr>
                <td>
                    <input type="submit" value="View">
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>