<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Staff</title>
</head>
<body>
    <h2>Update Staff</h2>
    <form method="post">
        <table border="1">
            <% result.forEach(function(data) { %>
            <tr>
                <td>Enter Staff Name :</td>
                <td><input type="text" name="sname" value="<%= data.name%>"></td>
            </tr>
            <tr>   
                <td>Enter Staff :</td>
                <td><input type="email" name="semail" value="<%= data.email%>"></td>
            </tr>
            <tr>
                <td>Enter Standard :</td>
                <td><input type="text" name="stnd" value="<%= data.stnd%>"></td>
            </tr>
            <tr>
                <td>Enter Division :</td>
                <td><input type="text" name="sdiv" value="<%= data.sdiv%>"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit"></td>
            </tr>
            <% }); %>
        </table>
    </form>
</body>
</html>